:root{--bg:#effdff; --fg:#11116f; --dim:#bbb; --link:#444490;}
@media(prefers-color-scheme:dark){
    :root{--fg:#effdff;--bg:#4e5870; --dim:#ddd; --link:#aaaaff;}
}
body{
    background-color:var(--bg);
    color:var(--fg);
    max-width:60em;
    margin:auto;
    font-family:system-ui;
}
a{color:var(--link);}
.container{padding:0.5em;}
.post{display:grid; grid-template-columns:1fr 2fr 8fr; column-gap:1em;}
.time{color:var(--dim);}
.auth{color:unset;}
.msg{font-weight:300;overflow-y:auto;}
.replylink{color:var(--dim); text-decoration:none; font-style:italic; font-size:smaller;}
.emoj{color:var(--dim); font-size:smaller;}
